{
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80,
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "",
    "^lucide-react$",
    "^@/components/discord-icon$",
    "",
    "^@/actions/(.*)$",
    "^@/data/(.*)$",
    "^@/lib/(.*)$",
    "^@/app/(.*)$",
    "",
    "^@/components/(.*)$",
    "^@/hooks/(.*)$",
    "",
    "^[.]"
  ],
  "importOrderTypeScriptVersion": "5.9.3",
  "tailwindStylesheet": "app/globals.css",
  "tailwindFunctions": [
    "cn",
    "cva"
  ]
}
